.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin: 10px 0;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    .container {
        .pick-hour-container {
            margin-top: 15px;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            .btn {
                border: 1px solid grey;
                margin: 5px 4px;
                padding: 0 10px;

                &.active {
                    background-color: #007bff;
                    color: #fff;
                }
            }
        }

        .btn-save-schedule {
            width: fit-content;
            padding: 0 10px;
            margin: 10px auto;
        }


    }
}