.manage-doctor-container{ 
    margin: 0 8px;

    .manage-doctor-title{ 
        text-align: center;
        margin: 10px;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
    }

    .more-infor{
        display: flex;
        margin-bottom: 15px;
        gap: 15px;

        .content-left{
            width: 40%;
        }

        .content-right{
            width: 60%;
        }
    }

    .save-content-doctor{
        margin-bottom: 30px;
        margin-top: 20px;
        border: none;
        background-color: #1a8bd3;
        border-radius: 4px;
        cursor: pointer;
        padding: 4px;

        &:hover{
            opacity: 0.8;
        }
    }
}