.preview-img-container{
    .label-upload{
        padding: 5px 10px;
        width: fit-content;
        border-radius: 5px;
        background-color: #ddd;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }

    .preview-image{
        width: 100%;
        height: 50px;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
    }
}