.doctor-detail-container {
    background-color: #eee;

    .intro-doctor {
        display: flex;
        padding: 0px 200px;

        .content-left {
            background: center center no-repeat;
            background-size: cover;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;

        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;

            .up {
                font-size: 30px;
                font-weight: bold;
                padding-top: 12px;
            }
        }
    }

    .detail-infor-doctor {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-top: 24px 200px;

        h2 {
            font-size: 22px;
            font-weight: bold;
        }

        img {
            width: 100%;
        }
    }

    .comment-doctor {
        height: 40px;
    }
}