*{
    font-size: 16px;
}
//reset slick slider css
.slick-prev{
    left: -10px !important;
}
 .slick-prev,
 .slick-next{
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    
    &:hover{
        background: #eceaea;
    }
 }
.slick-prev:before,
.slick-next:before{
    font-family: 'FontAwesome' !important;
    color: red !important;
}

.slick-disabled {
    display: none !important;
}

.slick-next{
    right: -10px !important;
}

.section-share{
    
    &.section-specialty{
        background: #f5f5f5;
    }

    &.section-outstanding-doctor{
        background: #f5f5f5;
    }

    &.section-about{
        height: 500px;
        padding: 0 7%;
        border-top: 1px solid #e1dfdf;
        border-bottom: 1px solid #e1dfdf;

        .section-about-header{
            font-size: 22px;
            font-weight: 600;
            padding: 8px;
        }

        iframe{
            display: block !important;
            height: 442px;
            width: 100%;
        }
    }
    
    .section-body{
        
        .section-customize{
            .bg-image{
                height: 192px;
                margin: 0 2%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                &.section-specialty{
                    background-image: url('../../../assets/specialty/co-xuong-khop.jpeg');
                }
                &.section-medical-facility{
                    background-image: url('../../../assets/medical-facility/benh-vien.jpeg');
                }
                &.section-outstanding-doctor{
                    // background-image: url('../../../assets/outstanding-doctor/bac-si.png');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                &.section-handbook{
                    background-image: url('../../../assets/handbook/cam-nang.png');
                }
            }
        }
    }
}
.section-share{
    height: 330px;
    margin: 0 auto;
    
    .section-container{
        display: flex;
        margin: 0 auto;
        width:86%;
        flex-direction: column;

        .section-header{
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section{
                font-size: 22px;
                display: inline;
                font-weight: 600;
            }

            .btn-section{
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover{
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.section-outstanding-doctor{
    .outer-bg{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .section-customize{
        padding: 5px;
        cursor: pointer;

        .customize-border{
            border: 1px solid orange;
            padding: 20px;
        }
    }
}

.section-about{
    .section-about-content{
        display: flex;
        gap:15px;

        .content-left{
            width: 60%;
        }

        .content-right{
            width: 40%;

            p{
                font-style: italic;
                text-align: justify;
                padding: 10px;
            }
        }
    }
}

.home-footer{
    text-align: center;
    padding-top: 12px;
    height: 70px;

    a{
        text-decoration: unset;
    }
}
       