.home-header-container{
    height: 72px;
    width: 100%;
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 10000;
    background: white;

    .home-header-content{
        width: 100%;
        height: 100%;
        display: flex;

        .left-content{
            width: 25%;
            display: flex;
            align-items: center;

            .menu{
                font-size: 28px;
                color: gray;
                margin-right: 10px;
                cursor: pointer;
            }

            .header-logo{
                background: url(../../assets/logo.svg) center center no-repeat;
                height: 65%;
                width: 54%;
                cursor: pointer;
            }
        }

        .center-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;

            .child-content{
                font-size: 17px;

                .sub-title{
                    color: gray;
                }
            }
            
        }

        .right-content{
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 17px;


            .support{
                padding-right: 70px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            i{
                padding-right: 5px;
                font-size: 22px;
                color: #959090;
            }

            .language-vi{
                cursor: pointer;
                padding-right: 6px;

                &.active{
                    background-color: #f7d800;
                    border-radius: 50px 8px 8px 50px;
                    width: 32px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    padding-left: 4px;
                }

                &:hover{
                    background-color: rgb(195, 190, 190);
                    border-radius: 50px 8px 8px 50px;
                    width: 32px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    padding-left: 4px;
                }
            }

            .language-en{
                padding-left: 6px;
                cursor: pointer;

                &.active{
                    background-color: #49bce2;
                    border-radius: 8px 50px 50px 8px ;
                    width: 32px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    padding-right: 4px;
                }

                &:hover{
                    background-color: rgb(195, 190, 190);
                    border-radius: 8px 50px 50px 8px ;
                    width: 32px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    padding-right: 4px;
                }
            }
        }
    }
}
.home-header-banner{
    background-image: url(../../assets/bookingcare-background.jpg), linear-gradient(rgba(126, 126, 126, 0.5), rgba(255, 255, 255, 0.1));
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up{
        height: 65%;
        .title1{
            color: white;
            font-size: 30px;
            text-align: center;
            text-shadow: 1px 1px 1px #333;
            margin-top: 72px;
            margin-bottom: 15px;
        }
        .title2{
            color: white;
            font-size: 40px;
            text-align: center;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 36px;
        }
        .search{
            margin: 0 auto;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            background: #f7d800;
            border-radius: 30px;

            i{
                margin: 0 5px;
                font-size: 24px;
            }
            input {
                width: 472px;
                height: 30px;
                background: transparent;
                border: none;
                outline: none;
                font-size: 20px;
            }
        }
    }

    .content-down{
        height: 35%;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 1));
        // padding-bottom: 10px;

        .options{
            display: flex;
            gap: 30px;

            .option-child{
                width: 140px;
                text-align: center;
                
                .icon-child{
                    width: 57px;
                    background: white;
                    padding: 10px;
                    height: 57px;
                    border-radius: 50%;
                    margin: auto;
                    color: #49bce2;
                    font-size: 25px;
                    
                }

                .text-child{
                    font-size: 22px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover{
                        color: #49bce2;
                    }

                }
            }
        }
    }
    
}